.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  width: 25vw;
  height: 5vh;
  background-color: #0aa7aa;
  border-radius: 6px;
  border: .5px solid;
  transition: all 1s;
}

button:hover {
  background-color: #06947c;
  transform: scale(1.05);
}

.customers_map_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1%;
}

.customer_name {
  text-align: left;
  margin-left: 30vw;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}